header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 50px;
    border-bottom: 1px solid #b6b1b1;
}

.logo_container h1 {
    font-size: 24px;
    color: #282c3f;
}

.back-home a {
    text-decoration: none;
    color: #6c63ff;
    font-weight: bold;
    font-size: 16px;
}

.bag-page {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
    gap: 20px;
    flex-wrap: wrap;
}

.bag-items-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bag-item {
    display: flex;
    gap: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    align-items: center;
}

.bag-item-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.bag-item-info h4 {
    margin-bottom: 5px;
    font-size: 16px;
}

.bag-item-info p {
    margin-bottom: 5px;
}

.remove-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #c0392b;
}

.bag-summary {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f6;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#checkout-btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #6c63ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkout-btn:hover {
    background-color: #5750d4;
}
